@using System.Reflection
@model IEnumerable<Persona5APIv3.Models.PersonaEntity>
@{
    ViewData["Title"] = "Home Page";
}

<div class="home-header">
    <div class="text-box">
        <div class="text-center">
            <h1 class="main-heading">Welcome</h1>
            <h2 class="sub-heading">Find your favorite Persona</h2>
        </div>
        <a href="#" class="btn btn-white btn-scroll">View a random Persona</a>
    </div>
</div>

<div class="container">
    <div class="persona-list">
        @foreach (var persona in Model) {
            <div class="persona-box">
                <h2>@persona.Name</h2>
                <p class="description">@persona.Description</p>
                <div class="section-row">
                    <div class="section col-4">
                        <div class="info-wrapper">
                            <p class="info-name">Arcana</p>
                            <p class="info-data">@persona.Arcana</p>
                        </div>
                    </div>
                    <div class="section col-2">
                        <div class="info-wrapper">
                            <p class="info-name">Level</p>
                            <p class="info-data">@persona.Level</p>
                        </div>
                    </div>
                    <div class="section col-6">
                        <div class="stats">
                            <div class="statname">
                                <p>Strength</p>
                                <p>Magic</p>
                                <p>Endurance</p>
                                <p>Agility</p>
                                <p>Luck</p>
                            </div>
                            <div class="stat">
                                @foreach (PropertyInfo stat in persona.Stats.GetType().GetProperties())
                                {
                                    <p>@stat</p>
                                    <progress max="100" value="">@stat%</progress>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>